<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Courtney Crews">
    <meta name="description" content="A personal NFT mint.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">

    <title>artwork - c.m. crews</title>

    <style>
    .artwork-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .artwork-image {
        max-width: 100%;
        height: auto;
    }
        
    .artwork-details {
        padding-left: 20px;
    }
    
    @media (max-width: 1024px) {
        .artwork-container {
            flex-direction: column;
            align-items: center;
        }
        .artwork-details {
            padding-left: 0;
            margin-top: 20px;
            text-align: left;
        }
    }
    </style>
</head>

<body>
    <div class="navbar navbar-expand-lg">
        <%- include('header'); %>
    </div>

    <main>
    <hr class="spacer">

    <div class="container artwork-container">
        <div class="row">
            <div class="col-md-6">
                <img class="artwork-image" src="<%= artwork.img_url %>" alt="<%= artwork.project_name %>">
            </div>
            <div class="col-md-6 artwork-details">
                <h1 class="display-4 dm-serif-text-regular"><%= artwork.project_name %></h1>
                <p><%= artwork.project_description %></p>
                <img src="/images/icons8-ethereum-logo.svg" alt="Ethereum Logo" style="width: 25px; height: 25px;"><%= artwork.price_eth %> ETH <span class="text-body-secondary">(<%= artwork.active %>/<%= artwork.quantity %>)</span></p>
                <a href="" class="btn custom-button">Buy Now</a>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <%- include('footer'); %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/index.js"></script>
</body>
</html>